.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.info {
  display: flex;
  gap: 10px;
}

.head__buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}